body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


//header/nav
.header {
    display: flex;
    text-decoration: none;
    height: 10vh;
    align-content: center;
    margin-top: 1rem;
    justify-content: space-evenly;

    .header-icons {
        display: flex;
    }

    a {
        text-decoration: none;
        margin: 1rem 1rem 0 0;
        color: black;
        font-size: 1.3rem;

    }

    a:hover {
        transition-duration: 1s;
        font-size: 1.5rem;
        color: rgb(41, 41, 41)
    }
}


//landing 
.landing {
    display: flex;
    height: 65vh;
    width: auto;
    font-size: 2rem;
    margin: auto;
    margin-bottom: .5rem;
    justify-content: center;
    justify-items: center;

    .landing-text {
        z-index: 1;
        position: absolute;
        color: #fff;
    }


    //cut out overlay
    .landing-img {
        height: 65vh;
        width: 30vw;
        z-index: 2;
        position: absolute;
        background-image: url('/dist/img/overlay.png');
        background-size: cover;
        background-repeat: no-repeat;
    }


    //regular picture
    .center-background {

        position: absolute; //relative
        width: 30vw;
        height: 65vh;
        z-index: 0;
        background: url('/dist/img/landing.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 12px 12px 2px 1px rgba(85, 85, 85, 0.2);
    }

    //Blured and darkened background
    .background {
        position: relative;
        float: left;
        width: 100vw;
        height: 100%;
        z-index: -1;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/dist/img/landing.jpg');
        background-size: cover;
        filter: blur(1px);
        -webkit-filter: blur(1px);

    }

}


//email sign up
.email-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(50, 117, 48);
    margin-bottom: 1rem;
    color: #fff;

    .email {
        width: 35vw;
        z-index: 3;
        position: relative;
        margin-bottom: 1rem;

        input {
            padding: .5rem 1rem .5rem 1rem;

        }

        input[type=submit] {
            border: 0;
            margin-left: -4px;
            border-radius: 0 5px 5px 0;
            text-transform: uppercase;
            background: rgb(108, 253, 103);
        }

        input[type=text] {
            border: 0;
            border-radius: 5px 0 0 5px;
        }
    }
}

//book one
.book-one {
    display: flex;
    height: 45vh;
    justify-content: center;
    align-content: center;
    text-align: right;

    .book-one-img {
        background: rgb(223, 223, 223);
        background-image: url('/dist/img/book-one.png');

        width: 20vw;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .book-one-text {
        background: rgb(68, 155, 63); //rgb(50, 117, 48)
        background: -moz-linear-gradient(-45deg, rgb(50, 117, 48) 0%, rgb(68, 155, 63) 50%, rgb(40, 117, 37) 100%);
        background: -webkit-linear-gradient(-45deg, rgb(50, 117, 48) 0%, rgb(68, 155, 63) 50%, rgb(40, 117, 37) 100%);
        background: linear-gradient(135deg, rgb(50, 117, 48) 0%, rgb(68, 155, 63) 50%, rgb(40, 117, 37) 100%);
        color: white;
        width: 80vw;
        font-size: 1.3rem;
        padding: 1rem 1rem 0 1rem;

        h2 {
            text-align: center;
        }

        button {
            border-radius: 5px;
            background: #fff;
            font-weight: 400;
            border: none;
            padding: 10px;
            text-transform: uppercase;
        }
    }
}